#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
  cursor: default;
  background-position: 50% 50%;
}

body {
  background-color: black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: transparent;
  color: #fff;
  padding: 1px;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}


nav li {
  margin: 0 10px;
  padding: 0rem;
}

nav a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
  font: serif;
  /* make the content get auto sorted */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  align-items: center;
  justify-items: center;
}

a {
  background-color: transparent;
  color: black;
  display: inline-block;
  font-size: 1rem;
  padding: 0.50rem 0.75rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), color 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 10px;
  /* change the size of the button so it's not the whole width */
  width: 25%,
}

main form label {
  color: rebeccapurple;
}


li a{
  background-color:  rgba(8, 6, 120,0.5);
  border: 1px solid #14197c;
  border-color: #14197c;
  color: #0e159f;
  font-size: 18px;
  align-items: center;
}

li a:hover {
  /* make it glow when hovered */
  background-color: #14197c;
  color: rgba(0, 30, 255, 0.7);
  border-radius: 10px;
  padding: 0.5rem 1.5rem;
  text-align: center;
  text-decoration: none;
  transform: scale(1.1);
  transition: background-color 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), color 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

a:hover {
  background-color: transparent;
  padding: 0.5rem 1.5rem;
}

a:active {
  background-color: #777;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
  color: #fff;
}

h1 a:hover {
  background-color: #14197c;
}

form input[type="submit"]:hover {
  background-color: #555;
}

html,
body {
  height: 100%;
}

img {
  width: 25%;
  height: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25%;
}



@import url(https://fonts.google.com/specimen/PT+Mono);
svg {
  position: absolute;
  width: 50%;
  height: 50%;
}

BODY {
  background: #000;
  overflow: hidden;
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.full-width {
  width: 100%;
  text-align: center;
}

h1 span {
  color: rgb(8, 6, 120); /* Set the color of the text */
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), color 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


